$breakpoint-tablet: 768px;


@media (max-width: $breakpoint-tablet) {
    .navbar{
        width: 40px;
        overflow: hidden;
        .nav-header{
            img{
                opacity: 0;
            }
        }
    }

    main{
        
        grid-template-rows: 180px 180px 180px 400px 400px !important;
        .card{
            @include sm-shadow;
            text-align: center;
            font-family: $headFont;
            grid-column: 1/4;
            height: auto;
        }
        .statistics{
            grid-column: 1/4;
            grid-row: 4/5;
        }
        .best-sellers{
            grid-column: 1/4 !important;
            grid-row: 5/6;
        }
    }
}