/** colors **/
$mainBackColor : #FFFFFF;
$navBackColor : #010E1E;
$navShadowColor : #c3c4bd;
$liHoverColor : #c4c4c4;
$iconColor : #c6c4b1;
/** text link color */
$textLinkColor : white;
$textHoverLinkColor : #2a2a2a;

/**cards */
$cardColor : white;
$cardHeadColor : #ED254E;
$cardBtnBackColor : #51614D;

/** fonts */
$mainFont : 'Oxanium';
$headFont : 'Montserrat';